
<nav class="navbar navbar-expand-lg navbar-inverse navbar-dark " style="background-color: #000000;">
    <a class="navbar-brand" href="#" style="color: white;">Friends X-Ray</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
  
    <div class="collapse navbar-collapse"  style = "color: #547ee4; background-color: black;"  id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link " routerLink = "home" style = "color: #547ee4;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "aboutus" style = "color: #547ee4;">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  style = "color: #547ee4;" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Our Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style = "color: #574ee4; background-color: black;">
            <a class="dropdown-item" routerLink = "tests" style = "color: #574ee4;">Our Tests</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink = "team" style = "color: #574ee4;">Our Doctors</a>
          </div>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink = "contactus" style = "color: #547ee4;">Contact Us</a>
        </li>
      </ul>
      
    </div>
  </nav>