<html lang="en">
<head>
  <title>Footer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<footer class="container-fluid bg-grey py-5">
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 ">
               <div class="logo-part">
                  <h3 style="color: #547ee4;">FRIENDS XRAY</h3>
                  <br>
                  <p style="color: white;">We provide a range of tests at a cost affordable to everyone</p>
               </div>
            </div>
            <div class="col-md-6 px-4">
               <h6 style="color: #547ee4;"> About Company</h6>
               <p style="color: white;">We Believe in providing the best possible services to all our patients</p>
               <a href="#" class="btn-footer" routerLink = "about"> More Info </a><br>
               <a href="#" class="btn-footer" routerLink = "contactus"> Contact Us</a>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 px-4">
               <h6 style="color: #547ee4;"> Help us</h6>
               <div class="row ">
                  <div class="col-md-6">
                     <ul>
                        <li > <a href="#" style="color: white;" routerLink = "home"> Home</a> </li>
                        <li > <a href="#" style="color: white;" routerLink = "aboutus"> About</a> </li>
                        <li > <a href="#" style="color: white;" routerLink = "tests"> Tests</a> </li>
                        <li> <a href="#" style="color: white;" routerLink = "team"> Team</a> </li>
                        <li > <a href="#" style="color: white;" routerLink = "contactus"> Contact</a> </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-6 " >
               <h6 style="color: #547ee4;"> Connect With Us</h6>
               <div class="social">
                  <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</footer>
