<div style="background-color: #0B5876;">
    <br>
    <br>
    <h1 style="color: white; text-align: center;">Radiology</h1>
    <h4 style="color: white; text-align: center;">We are one of the experts in this domain, performing various scans at an affordable price</h4>
    <br>
    <br>
    </div>
    <div  class = "container" style = "background-color: white;">

        <div class="row">
            <div class = "col-2"></div>
            <div class = "col-8 text-left" style="margin: 2%;">
               <p>Radiologists are medical doctors that specialize in diagnosing and treating injuries and diseases using medical imaging (radiology) procedures (exams/tests) such as X-rays, computed tomography (CT), magnetic resonance imaging (MRI), nuclear medicine, positron emission tomography (PET) and ultrasound.
                It can currently be divided into 3 main areas:-</p>
            </div>
           </div>
    
       <div class="row" style="margin-bottom: 2%;" >
           <div class = "col-8 text-left">
            <ul style="list-style-type: square;">
            <li> <strong>Diagnostic Radiologists : - </strong> Diagnostic radiologists use a variety of imaging procedures to see inside the body and assess or diagnose the patient’s condition. Your radiologist plays an important role in your health by acting as an expert consultant to your referring physician (the doctor who sent you for testing) by choosing the proper exam and directing radiology technologists (those who operate the equipment) in properly performing quality exams. 
                They interpret and report on the resulting images, recommending treatment and, only when appropriate, additional tests.</li>
                <ul style="list-style-type: circle;">
                    <li> Breast imaging (mammograms)</li>
                    <li>Cardiovascular radiology (heart and circulatory system)</li>
                    <li>Chest radiology (heart and lungs)</li>
                    <li>Emergency radiology</li>
                    <li>Gastrointestinal radiology (stomach, intestines and abdomen)</li>
                </ul>
            <li><strong>Interventional Radiologists :</strong> These radiologists are doctors who diagnose and treat patients using image-guided, minimally invasive techniques such as X-rays and MRI. They carefully guide instruments through tiny incisions in the body, reaching the source of a medical problem and delivering targeted treatments. These treatments are for conditions such as heart disease, stroke, 
                cancer and uterine fibroids, offering less risk, pain and recovery time compared to traditional surgery.</li>
        
            <li>
                <strong>Radiation Oncologists</strong>
                These highly trained radiologists are doctors who prescribe and oversee each cancer patient's treatment plan. They use radiation therapy to treat cancer, and they monitor the patient's progress and adjust treatment to make sure patients receive appropriate quality care. Radiation oncologists receive extensive training in cancer medicine, in the safe use of radiation to treat disease,
                 and in managing any side effects caused by radiation.
            </li>
            </ul>
        </div>
        <div class="col-4">
            <img src="https://friendsxraybucket.s3.ap-south-1.amazonaws.com/960x0.jpg" width="500px" height="300px">
        </div>
    </div>
    </div>
   
