<div  class = "container-fluid" style="background-color: #0B5876;">
    <br>
    <br>
    <div class="row text-center">
    <div class="col-lg-3 col-sm-auto col-md-auto col-xs-auto">
     <img src="/assets/images/logo.JPG" class = "img-fluid" style=" margin-top : -8% ; margin-bottom: 2%; margin-left: 5%;" alt="Friends X-Ray Logo" align = "center" width="100px" height="100px">
    </div>
    <div class = "col-lg-9 col-sm-auto col-md-auto col-xs-auto">
    <h2 style="color: white; text-align: center; margin-bottom: 0.5%; margin-left: 0px;"> Friends X-Ray - Your Complete Health care solution</h2>

    <br>
    <br>
</div>
</div>
</div>
<app-frontscreen></app-frontscreen>
<app-domains></app-domains>
<app-testimonials></app-testimonials>
<br>
<br>
