<div class="container">
    <div class="row" >
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <h2 style="font-weight: 200; color: #574ee4;">Our Domains</h2>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="card-deck">
            <div class="card">
              <img src="https://friendsxraybucket.s3.ap-south-1.amazonaws.com/neurology-1024x665.jpg" width="200px" height="200px" class="card-img-top" alt="Neurology Image">
              <div class="card-body">
                <h5 class="card-title" style="color: #574ee4;" (click)="routeToNeurology() ">Neurology</h5>
                <p class="card-text">This is All about scientific study of our nervous system. We have various test procedures for this domain.</p> <p (click)="routeToNeurology() " style="color: #547ee4;"></p>
              </div>
            </div>
            <div class="card">
              <img src="https://friendsxraybucket.s3.ap-south-1.amazonaws.com/960x0.jpg" width="200px" height="200px" class="card-img-top" alt="Radiology image">
              <div class="card-body">
                <h5 class="card-title" style="color: #574ee4;" (click)="routeToRadiology() ">Radiology</h5>
                <p class="card-text">This domain pertains to X-Rays, CT-Scans, dopplers and other radiological imaging procedures.
                  We perform specialised radiological procedures to determine any problems and suggest you best way forward.</p>
                  <p (click)="routeToRadiology() " style="color: #547ee4;">Read more... </p>
              </div>

            </div>
            <div class="card">
              <img src="https://friendsxraybucket.s3.ap-south-1.amazonaws.com/pathology-image.jpg" width="200px" height="200px" class="card-img-top" alt="Pathology Image">
              <div class="card-body">
                <h5 class="card-title" style="color: #574ee4;" (click)="routeToPathology()" >Pathology</h5>
                <p class="card-text">This Domain consists of our regular clinical tests, blood tests and other general clinical stuff.</p><p (click)="routeToPathology() " style="color: #547ee4;">Read more ... </p>
              </div>
            </div>
          </div>

    </div>
</div>
<hr width="100%" style="border: 1px solid black;">

