
<div style="background-color: #0B5876;">
    <br>
    <br>
    <h1 style="color: white; text-align: center;"> Neurology</h1>
    <h4 style="color: white; text-align: center;"> Our Diagnostics have always proved to be helpful, may it be any domain</h4>
    <br>
    <br>
    </div>
    <div  class = "container" style = "background-color: white;">
       <div class="row">
        <div class = "col-lg-2"></div>
        <div class = "col-lg-8 col-md-auto col-sm-auto col-xs-auto text-left" style="margin: 2%;">
           <p> Neurology is the branch of medicine concerned with the study and treatment of disorders of the nervous system. The nervous system is a complex, sophisticated system that regulates and coordinates body activities. It has two major divisions: </p>
        </div>
       </div>
       <div class="col-1"></div>
       <div class="row" style="margin-bottom: 2%;" >
           <div class = "col-lg-6 col-md-auto col-sm-auto col-xs-auto text-left">
            <ul style="list-style-type: square;">
            <li>Central nervous system: the brain and spinal cord</li>
            <li>Peripheral nervous system: all other neural elements, such as eyes, ears, skin, and other "sensory receptors"</li>
            </ul>
            <p>A doctor who specializes in neurology is called a neurologist. The neurologist treats disorders that affect the brain, spinal cord, and nerves, such as:</p>
            <ul style="list-style-type: circle;">
            <li>Cerebrovascular disease, such as stroke</li>
            <li>Demyelinating diseases of the central nervous system, such as multiple sclerosis</li>
            <li>Headache disorders</li>
            <li>Infections of the brain and peripheral nervous system</li>
            <li>Neurodegenerative disorders, such as Alzheimer's disease, Parkinson's disease, and Amyotrophic Lateral Sclerosis (Lou Gehrig's disease)</li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-auto col-sm-auto col-xs-auto">
            <img src="https://friendsxraybucket.s3.ap-south-1.amazonaws.com/neurology-1024x665.jpg" width="450px" height = "300px">
        </div>
    </div>
    
    </div>