<div style="background-color: #0B5876;">
    <br>
    <br>
    <h1 style="color: white; text-align: center;">Pathology</h1>
    <h4 style="color: white; text-align: center;"> We are very Proud of Our pathology works, providing affordable treatment to everyone</h4>
    <br>
    <br>
    </div>
    <div  class = "container" style = "background-color: white;">

        <div class="row">
            <div class = "col-2"></div>
            <div class = "col-8 text-left" style="margin: 2%;">
               <p> Pathology is a branch of medical science primarily concerning the cause, origin and nature of disease. 
                   It involves the examination of tissues, organs, bodily fluids and autopsies in order to study and diagnose disease.
                It can currently be divided into 8 main areas:-</p>
            </div>
           </div>
    
       <div class="row" style="margin-bottom: 2%;" >
           <div class = "col-8 text-left">
            <ul style="list-style-type: square;">
            <li> <strong>General Pathology - </strong> This is a very broad field 
                that involves the study of the mechanisms behind cell and tissue injury, as well as understanding how the body responds to and repairs injury. Examples of areas that may be studied include necrosis, neoplasia, wound healing, inflammation and how cells adapt to injury.
            </li>
            <li><strong>Anatomical pathology :</strong> This field is concerned with the study and diagnosis of illness through microscopic analysis of samples from bodily fluids, tissues organs and sometimes the entire body or autopsy.</li>
        
            <li>
                <strong>Histology :</strong>
                This is a sub division of Anatomical pathology, Samples of bodily tissues and organs are prepared and examined in order to detect and diagnose disease. The architecture of tissue is observed at a microscopic level and the relationship between different cell and tissue types is examined.
            </li>
            <li><strong>Cytology :- </strong> This is also a sub divison of Anatomical Pathology, Bodily fluids and tissues are examined at the cellular level in order to screen for and diagnose disease and help aid treatment decisions. A cytologist will examine how cells look, form and function.</li>
            <li> <strong>Forensic pathology :- </strong>This is also a sub divison of Anatomical Pathology, Forensic pathology is the examination of an autopsy in order to discover the cause of death. </li>
            <li><strong>Clinical pathology :- </strong> lso referred to as laboratory medicine, clinical pathology concerns the analysis of blood, urine and tissue samples to examine and diagnose disease. Examples of the information clinical pathology laboratories may provide include blood count, blood clotting and electrolyte results. A clinical pathologist is usually trained in microbiology,
                 hematology or blood banking, but not at the same expert level as someone who specializes in one of these fields.</li>
            <li><strong>Chemical Pathology : -</strong> Biochemists or chemical pathologists examine all aspects of disease, identifying changes in various different substances found in the blood and bodily fluids such as proteins, 
                hormones and electrolytes, since these changes can indicate and provide clues about disease or disease risk.</li>
            <li><strong>Genetics : -</strong> Genetics involves performing tests on chromosomes, biochemical markers and DNA taken from bodily fluids and tissues in order to detect genetic illnesses.</li>
            <li><strong>Hematology : -</strong> This field is concerned with various different disease aspects that affect the blood, including bleeding disorders, clotting problems, and anemia, for example. Another area of hematology is transfusion medicine, which involves performing blood typing, cross-matching for compatibility and managing large amounts of blood products</li>
                <li><strong>Immunology : -</strong> Immunologists perform immune function tests to establish whether or not a patient is suffering from an allergy and if so, what they are allergic to. Many diseases also arise as a result of the immune system having an abnormal reaction to healthy cells or tissues and launching an immune attack against them.</li>
                <li><strong> Microbiology : -</strong> Microbiology is concerned with diseases caused by pathogenic agents such as bacteria, viruses, parasites and fungi. Samples of blood, bodily fluid and tissue are tested to establish whether infection exists, and the field of medical microbiology is also engaged with identifying new species of microorganisms.</li>
            </ul>
        </div>
        <div class="col-4">
            <img src="https://friendsxraybucket.s3.ap-south-1.amazonaws.com/pathology-image.jpg" width="500px" height="300px">
        </div>
    </div>
    </div>
   