<div class="page-margin">
    <!--breadcrumb start-->
    <div class="breadcrumb-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-text-center d-align-center">
            <h2 class="title"><span>Our Doctors</span></h2>
          </div>
          <div class="col-md-6 col-sm-6 col-text-center">
            <nav aria-label="breadcrumb" class="blog-bradcrumb ">
              <ol class="breadcrumb bg-transparent mb-0">
                <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                <li class="breadcrumb-item active"><a routerLink="team">OurTeam</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumb end -->
    <!-- sign in -->
    <section>
    
      <div class="review-block">
        <div class="container">
          <div class="row margin-bottom">
            <div class="col-lg-4 col-md-6">
              <div class="review-box">
                <img src="assets/images/avtar/22.jpg" alt="review" class="img-fluid">
                <h5>Dr. Anil Gaur</h5>
                <div>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="review-message">
                  <p>Dr Anil Gaur had setup the lab 33 years ago, as a very small and humble setup. He has lead the growth and the culture of this workplace </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="review-box">
                <img src="assets/images/avtar/1.jpg" alt="review" class="img-fluid">
                <h5>Dr. Arpit Gaur</h5>
                <div>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="review-message">
                  <p>Dr Arpit Gaur is a specialist radiologist, and has extensive experience in diagnostic radiology</p>
                </div>
              </div>
            </div>
            <div class = "col-lg-4 col-md-6">
              <div class="innerpage-decor">
                <div class="innerpage-circle1"><img src="assets/images/Testimonial2.png" alt=""></div>
                <div class="innerpage-circle2"><img src="assets/images/Testimonial1.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- sign up -->
  </div>
