<div class="container" >
    <div class="row" >
      <div class="col"></div>
      <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto  text-center">
        <h2 style="font-weight: bold; color: #547ee4; margin-top: 2%;">Our Domains</h2>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">  
      <div class="card-deck">
  
            <div class="card">
              <img src="https://friendsxraybucket.s3.ap-south-1.amazonaws.com/960x0.jpg" width="200px" height="200px" class="card-img-top" alt="Radiology image">
              <div class="card-body">
                <h5 class="card-title" style="color: #547ee4; font-weight: bold;" (click)="routeToRadiology() ">Radiology</h5>
                <p class="card-text">This domain pertains to X-Rays, CT-Scans, dopplers and other radiological imaging procedures.
                  We perform specialised radiological procedures to determine any problems and suggest you best way forward.</p>
                  <p (click)="routeToRadiology() " style="color: #547ee4; cursor: pointer;">Read more... </p>
              </div>

            </div>
            <div class="card">
              <img src="https://friendsxraybucket.s3.ap-south-1.amazonaws.com/pathology-image.jpg" width="200px" height="200px" class="card-img-top" alt="Pathology Image">
              <div class="card-body">
                <h5 class="card-title" style="color: #547ee4; font-weight: bold; " (click)="routeToPathology()" >Pathology</h5>
                <p class="card-text">This Domain consists of our regular clinical tests, blood tests and other general clinical stuff.</p><p (click)="routeToPathology() " style="color: #547ee4; cursor: pointer;">Read more ... </p>
              </div>
            </div>
          </div>

    </div>
    </div>
</div>
<hr width="100%" style="border: 1px solid black;">

