<!--breadcrumb start-->
<div class="breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-text-center d-align-center">
          <h2 class="title"><span> Our Tests</span></h2>
        </div>
        <div class="col-md-6 col-sm-6 col-text-center">
          <nav aria-label="breadcrumb" class="blog-bradcrumb ">
            <ol class="breadcrumb bg-transparent mb-0">
              <li class="breadcrumb-item"><a (click) = "navigateToHome()">Home</a></li>
              <li class="breadcrumb-item active"><a (click) = "navigateToTests()">Tests</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--breadcrumb end -->
  <!-- blog Section start -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row blog-list">
            <div class="col-md-6">
              <div class="blog-item">
                <div class="blog-block">
                  <div class="blog-box">
                    <div class="overflow-hidden"><a href = "#"><img src="/assets/images/XRAY.jpg" alt="X-RAY" class="img-fluid"></a></div>
                  </div>
                </div>
                <div class="blog-text">
                  <a >
                    <h3 style="color: #574ee4;"> Digital X-Ray</h3>
                    <p style="color: black;">X-ray: High-energy radiation with waves shorter than those of visible light. X-ray is used in low doses to make images that help to diagnose diseases and in high doses to treat cancer. </p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="blog-item">
                <div class="blog-block">
                  <div class="blog-box">
                    <div class="overflow-hidden"><a ><img src="assets/images/ultrasound.jpg" alt="ultrasound" class="img-fluid"></a></div>
                  </div>
                </div>
                <div class="blog-text">
                  <a [routerLink]="'/blog/details'">
                    <h3 style="color: #574ee4;">ULTRASOUND</h3>
                    <p style="color: black;"> Medical ultrasound (also known as diagnostic sonography or ultrasonography) is a diagnostic imaging technique, or therapeutic application of ultrasound. It is used to create an image of internal body structures such as tendons, muscles, joints, blood vessels, and internal organs. Its aim is often to find a source of a disease or to exclude pathology.</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="blog-item">
                <div class="blog-block">
                  <div class="blog-box">
                    <div class="overflow-hidden"><a><img src="/assets/images/colordoppler.png" alt="doppler" class="img-fluid"></a></div>
                  </div>
                </div>
                <div class="blog-text">
                  <a >
                    <h3 style="color: #574ee4;">DOPPLER STUDIES</h3>
                    <p>Color Doppler is a development of pulsed wave Doppler where the frequency shift is mapped onto the 2-D image, 
                        with flow toward and away from the transducer plotted as different colors.</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="blog-item">
                <div class="blog-block">
                  <div class="blog-box">
                    <div class="overflow-hidden"><a href = "#"><img src="assets/images/bloodjpg.jpg" alt="blood investigations" class="img-fluid"></a></div>
                  </div>
                </div>
                <div class="blog-text">
                  <a >
                    <h3 style="color: #574ee4;"> Blood Inestigations</h3>
                    <p>We perform various blood investigations, such as CBC, B12, D3 and other important vitamins in the body.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- paginations -->
        <!-- paginations end-->
      </div>
    </div>
  </section>
  <!-- blog Section End -->