<div class = "container">

    <div class="row" style="margin-top: 2%;">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <h2 style="text-align: center; color: #574ee4;">TESTIMONIALS</h2>
      </div>
       <div class="col-4"></div>
    </div>
      <div class = "row">
        <div class="col-6">
            <div class="card" style="width: 18rem; margin-top: 3%; margin-left: 20%; margin-bottom: 3%;">
                <img src="assets/images/Should-You-Put-Testimonials-On-Your-Website.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #574EE4;">Testimonial</h5>
                  <p class="card-text">Friends X-Ray center has been one of the most effective helpful Labs, even if any test is not available, they get it done easily
                  I use this lab regularly and recommend this.
                  </p>
                </div>
              </div>
        </div>

        <div class="col-6">
          <div class="card" style="width: 18rem; margin-top: 3%; margin-left: 20%; margin-bottom: 3%;">
              <img src="assets/images/Should-You-Put-Testimonials-On-Your-Website.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #574EE4;">Testimonial</h5>
                <p class="card-text">Friends X-Ray center has been one of the most effective helpful Labs, even if any test is not available, they get it done easily
                I use this lab regularly and recommend this.
                </p>
              </div>
            </div>
      </div>
    </div>
    <div class="row">
        <div class="col-6">
          <div class="card" style="width: 18rem; margin-left: 25%;" >
            <img src="assets/images/Should-You-Put-Testimonials-On-Your-Website.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: #574EE4;"> TESTIMONIAL </h5>
              <p class="card-text">Friends X-Ray labs is one of the oldest labs of my area, the owner is very kind and helpful, treating people with utmost care,
                their home collection facility is amazing.</p>
            </div>
          </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem; margin-left: 25%;" >
                <img src="assets/images/Should-You-Put-Testimonials-On-Your-Website.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: #574EE4;"> TESTIMONIAL </h5>
                  <p class="card-text">Friends X-Ray labs is one of the oldest labs of my area, the owner is very kind and helpful, treating people with utmost care,
                    their home collection facility is amazing.</p>
                </div>
              </div>
        </div>
    </div>
</div>
