<div  class = "container-fluid" style="background-color: #0B5876;">
<br>
<br>

<h2 style="color: white; text-align: center;"> Friends X-Ray - Our Story</h2>
<h4 style="color: white; text-align: center;"> Our Mission is to provide affordable and accurate tests for everyone</h4>
<br>
<br>
</div>
<div style = "background-color: #EBF5F5;">
<br>
<br>
<p style="text-align: justify; margin-left: 20%; margin-right: 20%;">
At Friends X-Ray, We beleive in providing exquisite facility for providing accurate and affordable tests for everyone.
We started as a humble setup 33 years back. It was started as FRIENDS X-RAY Center on 19th April 1987. Now we are an  
ISO 9001: 2008 certified company, We are very proud of our history of providing affordable and accurate tests for people in
all strata of the economy. Our Setup lab now includes all kinds of Radiological, Pathlogy and other specialized Investigations.
We provide faciilites such as Wheelchair access for easy access. We provide home collection of samples too.
</p>
<div class="text-center">
<h4  class = "btn custom"> Our Timings</h4>
</div>
<div class="row">
<div class="col-lg-4 col-md-auto col-xs-auto col-sm-auto text-center" style="margin: 2%;">
<ul class="list-group">
    <li class = "list-group-item list-group-item-primary">Lab Timings</li>
    <li class = "list-group-item"> Mon - Sat :- 8 am to 8 pm </li>
    <li class = "list-group-item"> Sundays :- 8 am to 2 pm </li>
</ul>
</div>
<div class="col">
</div>
<div class="col-lg-4 col-md-auto col-xs-auto col-sm-auto text-center" style="margin: 2%;">
    <ul class="list-group">
        <li class = "list-group-item list-group-item-primary">Ultrasound Timings</li>
        <li class = "list-group-item"> Mon - Sat :- 9 am to 2 pm, 6pm to 8pm </li>
        <li class = "list-group-item"> Sundays :- 11 am to 2 pm </li>
    </ul>
    </div>
</div>
<br>
<div class = "row text-center">
    <div class = "col-lg-4"></div>
<div class="col-lg-4 col-md-auto col-sm-auto col-xs-auto" style="margin: 2%;">
    <ul class="list-group">
        <li class = "list-group-item list-group-item-success"> Lab Managing Director</li>
        <li class = "list-group-item"> Name : Dr. Anil Gaur </li>
        <li class = "list-group-item"> Mobile : 9810533520 / 8076384701 </li>
        <li class="list-group-item"> Email : akgfriends@gmail.com</li>
        <li class="list-group-item">Clinic Phone : 011-27196161</li>
    </ul>
    </div>
</div>
<br>
</div>